*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: rgb(3, 0, 31);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.App{
    min-height: 100vh;
    display: flex;
}

.sideBar{
    flex: 3;
    border-right: 1px solid rgb(100, 100, 100);
}

.main{
    flex: 9;
}

.logo{
    margin-right: 1rem;
}

.brand{
    font-size: 2rem;
}

.upperSide{
    padding: 2.5rem;
    border-bottom: 1px solid rgb(100, 100, 100);
    height: 70%;
}

.upperSideTop{
    display: flex;
    align-items: center;
    margin: 2.5rem;
}

.addBtn{
    height: 2rem;
    padding-right: 1rem;
}
.midBtn{
    background: #5A4BFF;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}